# -*- mode: gitignore; -*-
#
# global gitignore
#

.byebug_hist
.irb-history
.psql_history

################################################################################
# OSX specific files
################################################################################
.CFUserTextEncoding
.DS_Store
.XAuthority
.Trash

# OSX Home directory stuff
Applications
Desktop
Documents
Downloads
Dropbox*
Library
Movies
Music
Pictures
Public

# OSX app-specific files
.dropbox
.vuescanrc
.config
.fontconfig
.inkscape-etc
.jbapps-*
.mono
.atom
.rvm

################################################################################
# Emacs specific files
################################################################################
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
ac-comphist.dat
auto-save-list
helm-adaptive-history
places
projectile-bookmarks.eld
projectile.cache
recentf
savehist
tramp
.\#*

.cask

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

################################################################################
# ruby related files
################################################################################
.bundle
.gem
.irb_history
.rake_tasks
.ruby-version
.rubies
.thor
.zeus.sock

################################################################################
# zsh related files
################################################################################
.oh-my-zsh
.zprezto
.zcompdump*
.zsh-update
.zsh_history
.zhistory

################################################################################
# vim related files
################################################################################
*.swp
*.tmproj
.vim
.viminfo

################################################################################
#
################################################################################
.bash_history
.berkshelf
.cache
.cups
.backup
.apdisk
._.*
.psql_history

dev
etc
projects
src
work

.gnupg
.ssh

*.log
.lesshst
.local

.npm
.ovftool.ssldb
.subversion
.sqlite_history
.rnd

# branch specific stuff
.passenger
.pgpass
.spamassassin
.bash*
chef-solo
triage_backups
triage_uploads
install.sh
yara-2.1.0
archive

# branch specific stuff
.passenger
.pgpass
.spamassassin
.bash*
chef-solo
triage_backups
triage_uploads
install.sh
yara-2.1.0
archive

