#
# global gitignore
#

.CFUserTextEncoding
.DS_Store
.XAuthority
.Trash

*.swp
*.tmproj
\#*
.\#*
*~

.bash_history
.berkshelf
.cache
.cups
.dropbox
.rake_tasks
.ruby-version
.rubies
.zeus.sock
.backup
.bundle
.apdisk
.vuescanrc
._.*

# OSX Home directory stuff
Applications
Desktop
Documents
Downloads
Dropbox*
Library
Movies
Music
Pictures
Public


dev
etc
projects
src
work

.gnupg
.ssh

*.log
.lesshst
.local
.vim
.viminfo
.oh-my-zsh

.gem
.irb_history
.thor
.npm
.ovftool.ssldb
.subversion
.sqlite_history
.rnd
.zcompdump*
.zsh-update
.zsh_history
ac-comphist.dat

.cask
helm-adaptive-history
places
projectile-bookmarks.eld
projectile.cache
recentf
savehist

